In [23]:
import pandas as pd
import ast
data = pd.read_csv('coursesUnit.csv')
# print(data.to_markdown())

# Convert the lists in string to list
for i in data['Courses']:
        d = data.loc[data['Courses'] == i]
        print(d['Units'])

# cList = []
# for i in data["Courses"]:
        # print(i)
        # v= ast.literal_eval(i)
        # for m in v:

        #         print(m)



# Creating a void timetable

days = ['Mon','Tue','Wed','Thur','Fri']
numberList,eight,nine,ten,eleven,twelve,one,two,three,four,five,six = [],[],[],[],[],[],[],[],[],[],[],[]
daysC = 0
daysList = []
for i in range(5):
    numberList.append(i + 1)
    eight.append(i) ,nine.append(i),ten.append(i),eleven.append(i),twelve.append(i),
    one.append(i),two.append(i),three.append(i),four.append(i),five.append(i),six.append(i)


    daysList.append(days[daysC])
    daysC += 1
    if daysC == 5:
        daysC = 0


# A dictionary of lists
dict = {'Number': numberList, "Days": daysList, "08:00am": eight, '09:00am':nine,"10:00am":ten, '11:00am':eleven,'12:00pm':twelve, '01:00pm':one, '02:00pm':two, '03:00pm':three, '04:00pm':four, '05:00pm':five, '06:00pm':six}
	
df = pd.DataFrame(dict)
print(df.to_markdown())

# saving the dataframe
df.to_csv('result.csv')

0    3
Name: Units, dtype: int64
1    1
Name: Units, dtype: int64
2    2
Name: Units, dtype: int64
3    2
Name: Units, dtype: int64
4    1
Name: Units, dtype: int64
5    1
Name: Units, dtype: int64
6    1
Name: Units, dtype: int64
7    3
Name: Units, dtype: int64
8    3
Name: Units, dtype: int64
9    1
Name: Units, dtype: int64
10    1
Name: Units, dtype: int64
11    1
Name: Units, dtype: int64
12    1
Name: Units, dtype: int64
13    3
Name: Units, dtype: int64
14    1
Name: Units, dtype: int64
15    3
Name: Units, dtype: int64
16    2
Name: Units, dtype: int64
17    2
Name: Units, dtype: int64
18    2
Name: Units, dtype: int64
19    1
Name: Units, dtype: int64
20    3
Name: Units, dtype: int64
21    2
Name: Units, dtype: int64
22    2
Name: Units, dtype: int64
23    3
Name: Units, dtype: int64
24    2
Name: Units, dtype: int64
25    2
Name: Units, dtype: int64
26    1
Name: Units, dtype: int64
27    1
Name: Units, dtype: int64
28    2
Name: Units, dtype: int64
29    3
Name: Units, dtype: int64
30    1
Name: Units, dtype: int64
31    1
Name: Units, dtype: int64
32    1
Name: Units, dtype: int64
33    2
Name: Units, dtype: int64
34    2
Name: Units, dtype: int64
35    2
Name: Units, dtype: int64
36    2
Name: Units, dtype: int64
37    2
Name: Units, dtype: int64
38    3
Name: Units, dtype: int64
39    1
Name: Units, dtype: int64
40    3
Name: Units, dtype: int64
41    2
Name: Units, dtype: int64
42    2
Name: Units, dtype: int64
43    2
Name: Units, dtype: int64
44    3
Name: Units, dtype: int64
45    2
Name: Units, dtype: int64
46    3
Name: Units, dtype: int64
47    3
Name: Units, dtype: int64
48    1
Name: Units, dtype: int64
49    2
Name: Units, dtype: int64
50    2
Name: Units, dtype: int64
51    3
Name: Units, dtype: int64
52    2
Name: Units, dtype: int64
53    3
Name: Units, dtype: int64
54    1
Name: Units, dtype: int64
55    1
Name: Units, dtype: int64
56    3
Name: Units, dtype: int64
57    3
Name: Units, dtype: int64
58    3
Name: Units, dtype: int64
59    1
Name: Units, dtype: int64
60    2
Name: Units, dtype: int64
61    3
Name: Units, dtype: int64
62    2
Name: Units, dtype: int64
63    2
Name: Units, dtype: int64
64    2
Name: Units, dtype: int64
65    1
Name: Units, dtype: int64
66    2
Name: Units, dtype: int64
67    3
Name: Units, dtype: int64
68    2
Name: Units, dtype: int64
69    3
Name: Units, dtype: int64
70    3
Name: Units, dtype: int64
71    3
Name: Units, dtype: int64
72    3
Name: Units, dtype: int64
73    2
Name: Units, dtype: int64
74    2
Name: Units, dtype: int64
75    2
Name: Units, dtype: int64
76    1
Name: Units, dtype: int64
77    3
Name: Units, dtype: int64
78    2
Name: Units, dtype: int64
79    2
Name: Units, dtype: int64
80    2
Name: Units, dtype: int64
81    3
Name: Units, dtype: int64
82    2
Name: Units, dtype: int64
83    3
Name: Units, dtype: int64
84    2
Name: Units, dtype: int64
85    1
Name: Units, dtype: int64
86    2
Name: Units, dtype: int64
87    2
Name: Units, dtype: int64
88    2
Name: Units, dtype: int64
89    2
Name: Units, dtype: int64
90    3
Name: Units, dtype: int64
91    3
Name: Units, dtype: int64
92    2
Name: Units, dtype: int64
93    3
Name: Units, dtype: int64
94    1
Name: Units, dtype: int64
95    3
Name: Units, dtype: int64
96    2
Name: Units, dtype: int64
97    1
Name: Units, dtype: int64
98    1
Name: Units, dtype: int64
99    1
Name: Units, dtype: int64
100    1
Name: Units, dtype: int64
101    3
Name: Units, dtype: int64
102    2
Name: Units, dtype: int64
103    2
Name: Units, dtype: int64
104    1
Name: Units, dtype: int64
105    2
Name: Units, dtype: int64
106    3
Name: Units, dtype: int64
107    3
Name: Units, dtype: int64
108    1
Name: Units, dtype: int64
109    1
Name: Units, dtype: int64
110    2
Name: Units, dtype: int64
111    1
Name: Units, dtype: int64
112    3
Name: Units, dtype: int64
113    3
Name: Units, dtype: int64
114    2
Name: Units, dtype: int64
115    2
Name: Units, dtype: int64
116    3
Name: Units, dtype: int64
117    1
Name: Units, dtype: int64
118    3
Name: Units, dtype: int64
119    2
Name: Units, dtype: int64
120    1
Name: Units, dtype: int64
121    1
Name: Units, dtype: int64
122    3
Name: Units, dtype: int64
123    3
Name: Units, dtype: int64
124    1
Name: Units, dtype: int64
125    2
Name: Units, dtype: int64
126    3
Name: Units, dtype: int64
127    1
Name: Units, dtype: int64
128    3
Name: Units, dtype: int64
129    3
Name: Units, dtype: int64
130    3
Name: Units, dtype: int64
131    1
Name: Units, dtype: int64
132    3
Name: Units, dtype: int64
133    3
Name: Units, dtype: int64
134    2
Name: Units, dtype: int64
135    1
Name: Units, dtype: int64
136    3
Name: Units, dtype: int64
137    3
Name: Units, dtype: int64
138    1
Name: Units, dtype: int64
139    3
Name: Units, dtype: int64
140    2
Name: Units, dtype: int64
141    3
Name: Units, dtype: int64
142    1
Name: Units, dtype: int64
143    2
Name: Units, dtype: int64
144    2
Name: Units, dtype: int64
145    2
Name: Units, dtype: int64
146    1
Name: Units, dtype: int64
147    1
Name: Units, dtype: int64
148    1
Name: Units, dtype: int64
149    3
Name: Units, dtype: int64
150    2
Name: Units, dtype: int64
151    2
Name: Units, dtype: int64
152    2
Name: Units, dtype: int64
153    2
Name: Units, dtype: int64
154    3
Name: Units, dtype: int64
155    2
Name: Units, dtype: int64
156    3
Name: Units, dtype: int64
157    3
Name: Units, dtype: int64
158    3
Name: Units, dtype: int64
159    1
Name: Units, dtype: int64
160    1
Name: Units, dtype: int64
161    1
Name: Units, dtype: int64
162    3
Name: Units, dtype: int64
163    3
Name: Units, dtype: int64
164    1
Name: Units, dtype: int64
165    3
Name: Units, dtype: int64
166    2
Name: Units, dtype: int64
167    2
Name: Units, dtype: int64
168    1
Name: Units, dtype: int64
169    2
Name: Units, dtype: int64
170    2
Name: Units, dtype: int64
171    1
Name: Units, dtype: int64
172    3
Name: Units, dtype: int64
173    1
Name: Units, dtype: int64
174    3
Name: Units, dtype: int64
175    3
Name: Units, dtype: int64
176    3
Name: Units, dtype: int64
177    3
Name: Units, dtype: int64
178    2
Name: Units, dtype: int64
179    1
Name: Units, dtype: int64
180    1
Name: Units, dtype: int64
181    1
Name: Units, dtype: int64
182    1
Name: Units, dtype: int64
183    3
Name: Units, dtype: int64
184    1
Name: Units, dtype: int64
185    3
Name: Units, dtype: int64
186    2
Name: Units, dtype: int64
187    3
Name: Units, dtype: int64
188    3
Name: Units, dtype: int64
189    3
Name: Units, dtype: int64
190    2
Name: Units, dtype: int64
191    2
Name: Units, dtype: int64
192    3
Name: Units, dtype: int64
193    1
Name: Units, dtype: int64
194    2
Name: Units, dtype: int64
195    2
Name: Units, dtype: int64
196    2
Name: Units, dtype: int64
197    1
Name: Units, dtype: int64
198    2
Name: Units, dtype: int64
199    3
Name: Units, dtype: int64
200    2
Name: Units, dtype: int64
201    3
Name: Units, dtype: int64
202    2
Name: Units, dtype: int64
203    2
Name: Units, dtype: int64
204    2
Name: Units, dtype: int64
205    2
Name: Units, dtype: int64
206    1
Name: Units, dtype: int64
207    2
Name: Units, dtype: int64
208    2
Name: Units, dtype: int64
209    1
Name: Units, dtype: int64
210    2
Name: Units, dtype: int64
211    2
Name: Units, dtype: int64
212    3
Name: Units, dtype: int64
213    1
Name: Units, dtype: int64
214    1
Name: Units, dtype: int64
215    1
Name: Units, dtype: int64
216    1
Name: Units, dtype: int64
217    1
Name: Units, dtype: int64
218    3
Name: Units, dtype: int64
219    3
Name: Units, dtype: int64
220    3
Name: Units, dtype: int64
221    1
Name: Units, dtype: int64
222    1
Name: Units, dtype: int64
223    3
Name: Units, dtype: int64
224    3
Name: Units, dtype: int64
225    2
Name: Units, dtype: int64
226    3
Name: Units, dtype: int64
227    1
Name: Units, dtype: int64
228    2
Name: Units, dtype: int64
229    1
Name: Units, dtype: int64
230    1
Name: Units, dtype: int64
231    1
Name: Units, dtype: int64
232    2
Name: Units, dtype: int64
233    3
Name: Units, dtype: int64
234    1
Name: Units, dtype: int64
235    2
Name: Units, dtype: int64
236    3
Name: Units, dtype: int64
237    2
Name: Units, dtype: int64
238    3
Name: Units, dtype: int64
239    2
Name: Units, dtype: int64
240    3
Name: Units, dtype: int64
241    2
Name: Units, dtype: int64
242    3
Name: Units, dtype: int64
243    3
Name: Units, dtype: int64
244    3
Name: Units, dtype: int64
245    2
Name: Units, dtype: int64
246    3
Name: Units, dtype: int64
247    1
Name: Units, dtype: int64
248    3
Name: Units, dtype: int64
249    3
Name: Units, dtype: int64
|    |   Number | Days   |   08:00am |   09:00am |   10:00am |   11:00am |   12:00pm |   01:00pm |   02:00pm |   03:00pm |   04:00pm |   05:00pm |   06:00pm |
|---:|---------:|:-------|----------:|----------:|----------:|----------:|----------:|----------:|----------:|----------:|----------:|----------:|----------:|
|  0 |        1 | Mon    |         0 |         0 |         0 |         0 |         0 |         0 |         0 |         0 |         0 |         0 |         0 |
|  1 |        2 | Tue    |         1 |         1 |         1 |         1 |         1 |         1 |         1 |         1 |         1 |         1 |         1 |
|  2 |        3 | Wed    |         2 |         2 |         2 |         2 |         2 |         2 |         2 |         2 |         2 |         2 |         2 |
|  3 |        4 | Thur   |         3 |         3 |         3 |         3 |         3 |         3 |         3 |         3 |         3 |         3 |         3 |
|  4 |        5 | Fri    |         4 |         4 |         4 |         4 |         4 |         4 |         4 |         4 |         4 |         4 |         4 |

In [169]:

# Creating a void timetable
days = ['Mon','Tue','Wed','Thur','Fri']
numberList,eight,nine,ten,eleven,twelve,one,two,three,four,five,six = [],[],[],[],[],[],[],[],[],[],[],[]
daysC = 0
daysList = []
for i in range(5):
    numberList.append(i + 1)
    eight.append(i) ,nine.append(i),ten.append(i),eleven.append(i),twelve.append(i),
    one.append(i),two.append(i),three.append(i),four.append(i),five.append(i),six.append(i)


    daysList.append(days[daysC])
    daysC += 1
    if daysC == 5:
        daysC = 0


# A dictionary of lists
dict = {'Number': numberList, "Days": daysList, "08:00am": eight, '09:00am':nine,"10:00am":ten, '11:00am':eleven,'12:00pm':twelve, '01:00pm':one, '02:00pm':two, '03:00pm':three, '04:00pm':four, '05:00pm':five, '06:00pm':six}
	
df = pd.DataFrame(dict)
print(df.to_markdown())

# saving the dataframe
# df.to_csv('result.csv')

|    |   Number | Days   |   08:00am |   09:00am |   10:00am |   11:00am |   12:00pm |   01:00pm |   02:00pm |   03:00pm |   04:00pm |   05:00pm |   06:00pm |
|---:|---------:|:-------|----------:|----------:|----------:|----------:|----------:|----------:|----------:|----------:|----------:|----------:|----------:|
|  0 |        1 | Mon    |         0 |         0 |         0 |         0 |         0 |         0 |         0 |         0 |         0 |         0 |         0 |
|  1 |        2 | Tue    |         1 |         1 |         1 |         1 |         1 |         1 |         1 |         1 |         1 |         1 |         1 |
|  2 |        3 | Wed    |         2 |         2 |         2 |         2 |         2 |         2 |         2 |         2 |         2 |         2 |         2 |
|  3 |        4 | Thur   |         3 |         3 |         3 |         3 |         3 |         3 |         3 |         3 |         3 |         3 |         3 |
|  4 |        5 | Fri    |         4 |         4 |         4 |         4 |         4 |         4 |         4 |         4 |         4 |         4 |         4 |