In [1]:
import pandas as pd

data = pd.read_csv('data.csv')

data = data.drop(columns = ['Unnamed: 0'])
data

# for i in data:
#     print(i)

    Number  Level Dept                                            Courses
0        1    500  MTE  ['MTE500', 'MTE501', 'MTE502', 'MTE503', 'MTE5...
1        2    500  MTE  ['MTE500', 'MTE501', 'MTE502', 'MTE503', 'MTE5...
2        3    500  MTE  ['MTE500', 'MTE501', 'MTE502', 'MTE503', 'MTE5...
3        4    500  MTE  ['MTE500', 'MTE501', 'MTE502', 'MTE503', 'MTE5...
4        5    500  MEE  ['MEE500', 'MEE501', 'MEE502', 'MEE503', 'MEE5...
..     ...    ...  ...                                                ...
95      96    100  EEE  ['EEE100', 'EEE101', 'EEE102', 'EEE103', 'EEE1...
96      97    100  CVE  ['CVE100', 'CVE101', 'CVE102', 'CVE103', 'CVE1...
97      98    100  CVE  ['CVE100', 'CVE101', 'CVE102', 'CVE103', 'CVE1...
98      99    100  CVE  ['CVE100', 'CVE101', 'CVE102', 'CVE103', 'CVE1...
99     100    100  CVE  ['CVE100', 'CVE101', 'CVE102', 'CVE103', 'CVE1...

[100 rows x 4 columns]